@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Indie+Flower&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    color: white;
    height: 8vh;
    display: flex;
    align-items: center;
    font-size: 35px;
    padding: 0 16px;
    
}

nav ul {
    list-style-type: none;
    font-family: 'Dancing Script', cursive;
}

.gamecontainer {
    background-color: darkgrey;
     display: flex;
     justify-content: center;
     margin: 20px;
     height: 87vh;
     
}

.container {
    display: grid;
    margin-top: 90px;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3, 10vw);
    position: relative;
    
}

.box {
    
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.box:hover {
    background-color:rgb(205, 204, 204);
}

.info {
    font-size: 35px;
}
.gameinfo {
    margin-top: 150px;
    margin-left: 40px;
    font-family: 'Indie Flower', cursive;
}
.gameinfo h1 {
    font-size: 2.5rem;
}

.imgbox img {
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

#reset {
    margin: 0 23px;
    padding: 6px 14px;
    background-color: rgb(91, 131, 123);
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
}
.line {
    background-color: black;
    height: 3px;
    width: 0vw;
    position: absolute;
    transition: width 1s ease-in-out;
    background-color:firebrick;
}

@media screen and (max-width: 950px) {
    .gamecontainer {
        flex-wrap: wrap;
    }
    .gameinfo {
        margin-top: 30px;
    }
    .gameinfo h1 {
        font-size: 1.5rem;
    }
    .container {
        display: grid;
        margin-top: 30px;
        grid-template-rows: repeat(3,20vw);
        grid-template-columns: repeat(3, 20vw);
        
    }
}